.about-container{
    margin: 0;
    padding: 0;
}
.about-content{
    font-family: IRANSansX,'serif';
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;
    text-align:justify;
}
.about-content-box{
    background-color: #f7f7f7;
    border-radius: 10px;
    width: 90%;
    height: 85%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.14);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.about-title{
    margin-right: 100px;
    position: relative;
}
.about-title::after{
    direction: rtl;
    position: absolute;
    right:0;
    bottom:-5px;
    background-color: #ff7314;
    content: '';
    height: 3px;
    width: 7%;
}
.map, .text{
    width: 50%;
    height: 100%;
    padding: 10px;
    overflow: hidden;
}
.text-content{
    font-size: 14px;
}
.text-title{
    font-weight: bold;
    font-size: 16px;
}
.about-images{
    display: flex;
    align-items: center;
    justify-content: center;
}