.page-container {
    min-height: 100vh;
    background-color: white;
}

.page-container .searchBar {
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    border-radius: 0 0 20px 20px;
    background: url("https://cdn.3click.com/3c-static/images/flight/new-main-slider.webp") no-repeat;
    background-position-y: -120px;
    background-position-x: center;
    margin-bottom:20px;
}
.results{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
}
