.info-box-container{
    font-family: IRANSansX,'serif';
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 35vh;
    text-align:justify;
}
.info-box{
    background-color: #f7f7f7;
    border-radius: 0 0 20px 20px;
    width: 90%;
    padding: 20px;
    height: 85%;
    box-shadow: 0 0 10px rgba(219, 96, 0, 0.29);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.info-box .edit-form-container{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.info-box .edit-form{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.edit-title{
    margin-right: 100px;
    color: #24262b;
    position: relative;
}
.edit-title::after{
    direction: rtl;
    position: absolute;
    right:0;
    bottom:-8px;
    background-color: #ff7314;
    content: '';
    height: 2px;
    width: 20%;
}
.edit-field{
    width: 30%  ;
    position: relative;
    max-width: 380px;
    height: 55px;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0 0 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 1rem 0 0;
}
.edit-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.edit-field input::placeholder {
    color: #aaa;
    font-weight: 500;
}
.editBtn {
    width: 150px;
    height: 49px;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(241, 236, 236, 0.42);
    color: #ff006c;
    border-color: #ff006c;
    border-width: 2px;
    border-style: solid;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;
}

.editBtn:hover {
    background-color: #ff006c;
    color: white;
}