* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
}

li, a {
    white-space: nowrap;
    font-family: IRANSansX, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    margin-bottom: 25px;
    box-shadow: 0 0 10px rgba(62, 62, 62, 0.84);
}

header .logo {
    cursor: pointer;
    /*width:10%;*/
    /*height: 10%;*/
}

.navLinks {
    padding-top: 10px;
    list-style: none;
}

.navLinks li {
    display: inline-block;
    padding: 0 20px;
}

.navLinks li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #6c6464;
    padding: 5px 0;
    position: relative;
}

.navLinks li a::after {
    content: '';
    background: #ff7314;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width 0.5s ease 0s;
}

.navLinks li a:hover::after {
    width: 100%;
}
/*button convert to a tag while rendering*/
.login a {
    padding: 9px 25px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    border: 2px solid #ff731400;
    color: #1c1c1c;
}


.login {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    font-family: IRANSansX, sans-serif;
}
.login .iconLogin {
    cursor: pointer;
    position: relative;
    opacity: 0;
    transition: 0.2s;
}

.login a:hover {
    color:#ff7314;
    border: 2px solid #ff7314ff;
    transition:all 300ms ease-in-out;
}
.login a:hover .iconLogin {
    padding-left: 20px;
    opacity: 1;
}

.login a:hover.iconUser:after {
    opacity: 1;
    left: 0;
}

.login .iconUser {
    cursor: pointer;
    position: relative;
    opacity: 0;
    transition: 0.2s;
}

.login a:hover {
    color:#ff7314;
    border: 2px solid #ff7314ff;
    transition:all 300ms ease-in-out;
}
.login a:hover .iconUser {
    padding-right: 20px;
    opacity: 1;
}

.login a:hover.iconUser:after {
    opacity: 1;
    left: 0;
}
.iconExit{
    margin-right: 10px;
}