
.result{
    direction: ltr;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    backdrop-filter:blur(20px);
    height: 120px;
    width: 85%;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border-style: none;
    box-shadow: 0 0 5px rgba(28, 28, 28, 0.7);

}
.body {
    font-family: IRANSansX;
}
.factory p{
    font-size:12px;
    font-weight: bold;
}
.result .cost {
    color: green;
    font-weight: bold;
    min-width: 100px;
}

.imageHint {
    transform: rotateY(-180deg);
    width: auto;
    height: 30px;
}

.buyButton {
    text-align: center;
}

.buyButton .buy {
    position: relative;
    border: none;
    width: 140px;
    background-color: transparent;
    height: 40px;
    margin: 10px 10px 10px 20px;
}

.buyButton .buy p {
    border: none;
    position: absolute;
    font-weight: bold;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(232, 7, 7, 0.15);
    box-shadow: 0 0 10px rgba(250, 5, 5, 0.2);
    border-top: 1px solid rgba(238, 6, 6, 0.1);
    border-bottom: 1px solid rgba(238, 6, 6, 0.1);
    border-radius: 10px;
    color: #f3f3f3;
    letter-spacing: 1px;
    z-index: 1;
    text-decoration: none;
    overflow: hidden;
    transition: 0.3s;
    backdrop-filter: blur(15px);
}

.buyButton .buy p::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(250, 107, 107, 0.36), transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}

.buyButton .buy:hover p::before {
    transform: skewX(45deg) translateX(200%);
    border: none;
}

.buyButton .buy::before {
    content: '';
    position: absolute;
    border: none;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 30px;
    height: 10px;
    background: #d90e0e;
    border-radius: 10px;
    transition: 0.3s;
    transition-delay: 0s;
}

.buyButton .buy:hover::before {
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.3s;
}
.buyButton .buy::after {
    content: '';
    position: absolute;
    border: none;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    width: 30px;
    height: 10px;
    background: #d90e0e;
    border-radius: 10px;
    transition: 0.3s;
    transition-delay: 0s;
}

.buyButton .buy:hover::after {
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.3s;
}

.buyButton .buy:nth-child(1)::before,
.buyButton .buy:nth-child(1)::after {
    background: #ff1f71;
    box-shadow: 0 0 5px #ff1f71,
    0 0 15px #ff1f71,
    0 0 30px #ff1f71,
    0 0 60px #ff1f71;
}

.result .flight {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}