body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

.footer {
    background-color: #24262b;
    margin: 0;
    box-sizing: border-box;
    /*position: absolute;*/
    padding: 70px 50px;
}

.row {
    direction: ltr;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-col {
    flex-basis: 25%;
    padding: 10px;
    text-align: center;
}

ul {
    list-style: none;
}


.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 40px;
    font-weight: 500;
    /*position: relative;*/
}


.copy-right {
    color: white;
}

.footer-col h4::before {
    content: '';
    /*position: absolute;*/
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}


.newsletter {
    direction: ltr;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.newsletter .far {
    font-size: 18px;
    margin-right: 10px;
    color: white;
}

.newsletter input {
    direction: ltr;
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

.newsletter button {
    background: transparent;
    border-style: none;
    cursor: pointer;
}

.newsletter button .fas {
    font-size: 16px;
    color: #ccc;
}

.underline {
    width: 50%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    top: 25px;
    left: 0;
}
.copy-right hr{
    color: white
}
.copy-right p{
    color: #ccc;
    font-size: 12px ;
}

