body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/IRANSansX-Regular.woff') format('woff'),
  url('../public/fonts/IRANSansX-Regular.woff2') format('woff2');
}